body {
    padding-top: 50px;
    padding-bottom: 20px;
  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.well {
    min-height: 15px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.btn-primary a {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
    text-decoration: none;
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #1D1B1B;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}




.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    width: 100%;
}


.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #75225D 0%, #222 100%);
    background-image: -o-linear-gradient(top, #75225D 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#75225D), to(#222));
    background-image: linear-gradient(to bottom, #75225D 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
     width: 100%;
}

.navbar-inverse .navbar-brand {
    color: #BCC144;
}

.btn-group pull-right
{
    float: right;
}