


@*@using (Html.BeginForm("CurrencyConvert", "Products"))
    {
        <fieldset>
            <legend>Convert some shit</legend>

            <div class="control-group">

                    <div style="font-family: Trebuchet MS">
                        Enter a amount:
                        @Html.TextBox("amount")
                        <DropDownList ID="fromCurrency">
                            <listitem value="USD" selected="true" text="US Dollars $"></listitem>
                            <listitem value="EUR" text="Euro €"></listitem>
                            <listitem value="GBP" text="United Kingdom Pounds £"></listitem>
                            <listitem value="SEK" text="Sweden Kronor kr"></listitem>



                            @Html.DropDownListFor<"toCurrency", "Products">
                            <:listitem value="USD" text="United States Dollars $"></:listitem>
                            <listitem value="EUR" text="Euro €"></listitem>
                            <listitem value="GBP" text="United Kingdom Pounds £"></listitem>
                            <listitem value="SEK" text="Sweden Kronor kr"></listitem>



                        <br />

                    </div>

    </fieldset>*@
<html>


<body>

<form id="form1">
    <table>
        <tr><td align="right">Enter Amount:</td><td>  <input id="txtAmount" maxlength="12" size="5" value="1" /></td></tr>
        <tr>
            <td align="right">From:</td>
            <td>
                <select id="ddlfrom">
                    <option value="CAD">Canadian Dollar (CAD)</option>
                    <option value="DKK">Danish Krone (DKK)</option>
                    <option value="EUR">Euro (EUR)</option>
                    <option value="GBP">British Pound Sterling (GBP)</option>
                    <option value="SEK">Swedish Krona (SEK)</option>
                    <option value="USD">US Dollar (USD)</option>
                </select>
                </div>
                <div style="padding: 2px; margin: 2px;">
        <tr>
            <td align="right">to:</td>
            <td>
                <select id="ddlto">
                    <option value="CAD">Canadian Dollar (CAD)</option>
                    <option value="DKK">Danish Krone (DKK)</option>
                    <option value="EUR">Euro (EUR)</option>
                    <option value="GBP">British Pound Sterling (GBP)</option>
                    <option value="SEK">Swedish Krona (SEK)</option>
                    <option value="USD">US Dollar (USD)</option>
                </select>
              
                
            </td>
        </tr>
        <tr><td></td><td> <input id="btnConvert" type="button" value="Convert" /></td></tr>
    </table>
    <div style="overflow:hidden; padding:10px; width:500px; margin:10px; background:#EAEAFF; border:solid 1px #ccc;">
        <div id="currency_converter_result" style="padding: 2px; margin: 5px; font-weight:bold; font-size:14pt">
        </div>
    </div>
</form>
</body>
</html>


@{
    var bundle = System.Web.Optimization.BundleTable.Bundles.GetRegisteredBundles()
                    .Where(b => b.Path == "~/widgetspecific")
                    .First();

    bundle.Include("~/Scripts/Currency.js");
}


                





