@using ProductsMVC.Models

@*@model IEnumerable<Product>*@

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}



@section Scripts {

        <script>
        var model = {
            products: ko.observableArray(),
            editor: {
                name: ko.observable(""),
                price: ko.observable(""),
                articlenumber: ko.observable(""),
                category: ko.observable(""),
                imageurl: ko.observable("")
            }
        };
        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            self.editing = ko.observable(false);
            $.ajax("/api/products/" + (url ? "/" + url : ""),
               {
                   type: httpMethod,
                   success: callback,
                   data: reqData
               });
        }

        //Lista alla produkter
        function getAllItems() {
            sendAjaxRequest("GET", function (data) {
                model.products.removeAll();
                for (var i = 0; i < data.length; i++)
                { model.products.push(data[i]); }
            });
        }

        //Lista detaljerad produkt för att editera
        //self.detail = ko.observable();
        //self.getProductDetail =  function (item) {
        //    ajaxHelper(uri + item.ID, 'GET').done(function (data) {
        //        self.detail(data);
        //    });
           
        //}

        //Ta bort produkt
        function removeItem(item) {
            toastr.info('Produkt borttagen');
            sendAjaxRequest("DELETE", function () {
                for (var i = 0; i < model.products().length; i++) {
                    if (model.products()[i].ID == item.ID) {
                        model.products.remove(model.products()[i]);
                        break;
                    }
                }
            },
            item.ID);}

        //Hantering av knapptryck när jag vill lägga till produkt
        function handleEditorClick() {
            toastr.success('Produkt tillagd');
                sendAjaxRequest("POST", function (newItem)
                { model.products.push(newItem); },
                null,
                {
                    Name: model.editor.name,
                    Price: model.editor.price,
                    ArticleNumber: model.editor.articlenumber,
                    Category: model.editor.category,
                    Imageurl: model.editor.imageurl                  
                }

                );
            }
        
        $(document).ready(function () {
            getAllItems(); ko.applyBindings(model);
        });    </script> }


<div id="summary" class="section panel panel-primary">
    <div class="panel-heading">Products</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Article number</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: model.products">
                <tr>
                    <td data-bind="text: ArticleNumber"></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Price"></td>
                    @*<td data-bind="text: Category"></td>*@
                    @*<td data-bind="text: Imageurl"></td>*@
                   
                    <td>
                        <button class="btn btn-primary" data-bind="click: removeItem">Remove</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>








@*Lägga till ny produkt*@
</div>    <div id="editor" class="section panel panel-primary">

    <div id="editor" class="section panel panel-primary">
        <div class="panel-heading">
            Add product
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" data-bind="value: model.editor.name" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" data-bind="value: model.editor.price" />
            </div>
            <div class="form-group">
                <label>Article number</label>
                <input class="form-control" data-bind="value: model.editor.articlenumber" />
            </div>
            <div class="form-group">
                <label>Category</label>
                <input class="form-control" data-bind="value: model.editor.category" />
            </div>
            <div class="form-group">
                <label>Imageurl</label>
                <input class="form-control" data-bind="value:  model.editor.imageurl" />
            </div>           
            <button class="btn btn-primary" id="btn-success" data-bind="click: handleEditorClick">
                Save
            </button>
        </div>
    </div>
</div>































