@{
    ViewBag.Title = "SinglePage";


}

<h2>SinglePage</h2>

<div id="id01"></div>


@section Scripts {
    <script>
        var xmlhttp = new XMLHttpRequest();
        var url = "http://localhost:65184//API/Products/";

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                myFunction(xmlhttp.responseText);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(response) {
            var arr = JSON.parse(response);
            var i;
            var out = "<table>";

            for (i = 0; i < arr.length; i++) {
                out += "<tr><td>" +
                arr[i].Name + 
                "</td><td>" +
                arr[i].Price +
                "</td><td>" +
                arr[i].ArticleNumber +
                "</td></tr>";
            }
            out += "</table>";
            document.getElementById("id01").innerHTML = out;
        }


    //var url = "http://localhost:65184//API/Products/";
    //var product = { Name: "Utedass", Price: 76000, ArticleNumber: 12345, Category: "Friluftsliv" }
    //    $.post(url, product);


        

      
        var url = "http://localhost:65184//API/Products/30";
        $.ajax({
            url: url,
            datatype: "json",
            type: "DELETE",
            contentType: 'application/json; charset=utf-8'
        });
        
</script>
}

@*<script>
    var url = "http://localhost:65184//API/Products/12345";
    $.ajax({
        url: url,
        datatype: "json",
        type: "DELETE",
        contentType: 'application/json; charset=utf-8'
    });
</script>*@